body {
	background-color: ivory;
	margin: 0;
	padding: 0;
}

#notif,
#notif-error {
	position: absolute;
	top: 1em;
	left: 10%;
	width: 80%;
}

#notif > div {
	background-color: white;
	border: 1px solid lightgrey;
	margin: 1em auto;
	padding: 1em;
}

#notif-error > div {
	background-color: salmon;
	margin: 1em auto;
	padding: 1em;
}

.nav {
	height: calc(100% - 4em);
	padding: 1em;
	position: fixed;
	width: 14em;
	border-right: 1px solid lightgrey;
	overflow: auto;
}
.nav .navTarget {
	cursor: pointer;
	margin-bottom: 1em;
}
.nav .navHttpTarget,
.nav .navWebSocketTarget {
	cursor: pointer;
	margin-bottom: 1em;
	margin-left: 1em;
}

.nav .footer {
	bottom: 0;
	font-size: 9pt;
	margin-bottom: 1em;
	position: fixed;
}
.main {
	left: 16em;
	padding: 1em;
	position: fixed;
	width: calc(100% - 18em);
	height: calc(100% - 4em);
	overflow: auto;
}
.main .mainState {
	border: 1px solid lightgrey;
	padding: 1em;
}
.input {
	margin-bottom: 1em;
}
.input label {
	display: inline-block;
	width: 10em;
}
.input input {
	border: 1px solid lightgray;
	display: inline-block;
	padding: 6px;
	width: calc(100% - 18em);
}
.input-rows {
	margin-bottom: 1em;
}
.input-rows label {
	display: inline-block;
	margin-bottom: 5px;
	width: auto;
}
.input-rows input {
	display: block;
	width: calc(100% - 2em);
}

.mono {
	background-color: lightgrey;
	font-family: monospace;
	padding: 1em;
	overflow: auto;
}

.HttpTarget {
	margin-top: 2em;
}

.HttpTarget h3,
.WebSocketTarget h3 {
	border-left: 10px solid gold;
	margin-left: 0;
	padding: 0.5em;
}

.results > .resultName {
	margin-bottom: 1em;
}

@media screen and (max-width: 740px) {
	.nav {
		border-right: unset;
		height: unset;
		padding: 1em;
		position: unset;
		width: calc(100% - 2em);
		border-bottom: 1px solid lightgrey;
	}

	.nav .footer {
		position: unset;
	}

	.main {
		left: 0;
		position: unset;
		width: calc(100% - 2em);
		height: unset;
	}

	.input label {
		display: inline-block;
		width: auto;
	}

	.input input {
		display: block;
		width: calc(100% - 2em);
	}

	.HttpTargetActions {
		margin-top: 10px;
		display: block;
	}

	.results > .resultName {
		word-break: break-word;
	}
	.results > .resultName .actions {
		display: block;
		margin: 0.5em 0px;
	}
}
