body {
	background-color: ivory;
	margin: 0;
	padding: 0;
}

#notif,
#notif-error {
	position: absolute;
	top: 1em;
	left: 10%;
	width: 80%;
}

#notif > div {
	background-color: white;
	border: 1px solid lightgrey;
	margin: 1em auto;
	padding: 1em;
}

#notif-error > div {
	background-color: salmon;
	margin: 1em auto;
	padding: 1em;
}

.nav {
	height: calc(100% - 2em);
	padding: 1em;
	position: fixed;
	width: 14em;
	border-right: 1px solid lightgrey;
}
.nav .nav-item {
	cursor: pointer;
	margin-bottom: 1em;
}
.nav .footer {
	bottom: 0;
	margin-bottom: 1em;
	position: fixed;
}
.main {
	left: 16em;
	padding: 1em;
	position: fixed;
	width: calc(100% - 18em);
	height: calc(100% - 4em);
	overflow: auto;
}
.main .mainState {
	border: 1px solid lightgrey;
	padding: 1em;
}
.input {
	margin-bottom: 1em;
}
.input label {
	display: inline-block;
	width: 10em;
}
.input input {
	border: 1px solid lightgray;
	display: inline-block;
	padding: 6px;
	width: calc(100% - 18em);
}
.mono {
	background-color: lightgrey;
	font-family: monospace;
	padding: 1em;
	overflow: auto;
}

.HttpTarget {
	margin-top: 2em;
}

.HttpTarget h3 {
	border-left: 10px solid gold;
	margin-left: 0;
	padding: 0.5em;
}

.results > .result-name {
	margin-bottom: 1em;
}
